<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokémon</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>
          <span class="letter">P</span>
          <span class="letter">o</span>
          <span class="letter">k</span>
          <span class="letter">é</span>
          <span class="letter">m</span>
          <span class="letter">o</span>
          <span class="letter">n</span>
          <div></div>
          <span class="letter">g</span>
          <span class="letter">o</span>
          <span class="letter">t</span>
          <span class="letter">t</span>
          <span class="letter">a</span>
          <div></div>
          <span class="letter">g</span>
          <span class="letter">r</span>
          <span class="letter">a</span>
          <span class="letter">p</span>
          <span class="letter">h</span>
          <div></div>
          <span class="letter">e</span>
          <span class="letter">m</span>
          <div></div>
          <span class="letter">a</span>
          <span class="letter">l</span>
          <span class="letter">l</span>
          <span class="letter">!</span>
          </h1>
          <br>
        <p>WHO'S THAT POKEMON ?!?!</p>
        <div id = "PokeBanner">
        <img src="/static/images/Poke_Ball.png" width="175" height="175" />
        <img src="/static/images/logo.png" width="620" height="250" />
        <img src="/static/images/Poke_Ball.png" width="175" height="175" />
        <!-- <img src ="/static/images/Growlithe1.png" width="75" height="75" /> -->
      </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Type</h5>
          <select id="selDataset"></select>
        </div>
        <br>
        <br>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Pokémon</h3>
          </div>
          <br>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <br>
    <div class="col-md-5">
      <div id="bar"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="scatter"></div>
      </div>
    </div>
  </div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
  <script src="static/app.js"></script>
  
</body>
</html>
